* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --btn-color: hsl(240, 37%, 37%);
  --txt-color: white;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--txt-color);
  box-shadow: var(--star);
  transition: all, ease 1.5s;
}
.centralizado {
  margin: auto;
  max-width: 700px;
  margin-top: 2.4rem;
  overflow: hidden;
}

/*Animações*/
.animate__heartBea {
  animation: heartBeat;
  animation-duration: 0.8s;
}
.animate__flipInX {
  animation: flipInX;
  animation-duration: 1s;
}

/*=======PAGE CONTENT=======*/
header {
  display: flex;
  margin-top: -1.6rem;

  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1.6rem 8rem;
  gap: 1rem;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -3.5rem;

  padding: 16px 80px;
  gap: 10px;
}
.container a {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 1.2rem;
  width: 280px;
  height: 53px;

  background: var(--btn-color);
  border-radius: 6px;

  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  color: white;

  transition: all, ease-in 0.5s;
}
.container a:hover {
  background-color: hsl(240, 87%, 79%);
  transition: all, ease-in 0.5s;
}
.container a i {
  padding-right: 5px;
}
h1 {
  font-family: 'Cinzel', serif;
  color: var(--btn-color);
  margin-top: -2rem;
}
#share-p {
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: italic;
  margin-top: 2.5rem;
}
p {
  font-family: 'Catamaran', sans-serif;
  color: var(--btn-color);
  text-transform: uppercase;
  font-size: 1rem;
}
/*========COMPARTILHAMENTO==========*/
a {
  text-decoration: none;
}
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: left;

  margin-top: 1.5rem;
}
.list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper :is(.btn, .link) {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  background-color: white;
  color: black;
  border-radius: 50%;
  transition: all, ease-out 0.5s;
}
.btn {
  position: absolute;
  border: none;
  cursor: pointer;
  z-index: 10;
  transition: outline 0.25s;
}

.active .btn,
.btn:hover {
  outline: 5px solid var(--bg-color);
  outline-offset: -4px;
  transition: all, ease-in 0.1s;
}
.item {
  position: absolute;
  list-style: none;
  transition: transform 0.5s;
  transition-delay: var(--d);
}

.wrapper.active .item:nth-child(1) {
  transform: translateX(-65px);
}

.wrapper.active .item:nth-child(2) {
  transform: translateY(-65px);
}

.wrapper.active .item:nth-child(3) {
  transform: translateX(65px);
}

.link:hover {
  color: #fff;
  transition: background-color 0.25s;
}

.ig:hover {
  background-image: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
}

.wa:hover {
  background-color: rgba(53, 146, 53, 0.671);
}

.gh:hover {
  background-color: rgba(128, 128, 128, 0.548);
}
body.dark .ig:hover {
  background-image: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
}

body.dark .wa:hover {
  background-color: rgba(53, 146, 53, 0.671);
}

body.dark .gh:hover {
  background-color: rgba(128, 128, 128, 0.548);
}

/*========STAR ANIMATION==========*/
body {
  overflow-x: hidden;
  background-image: linear-gradient(
    120deg,
    rgba(224, 195, 252, 0.75) 0%,
    rgba(142, 197, 252, 0.75) 100%
  );
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
  filter: url('#goo');
}
@-moz-document url-prefix() {
  body {
    filter: none;
  }
}
.particle {
  position: absolute;
  border-radius: 50%;
}

@-moz-keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(180px);
  }
}
@-webkit-keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(180px);
  }
}
@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(180px);
  }
}
@-moz-keyframes floatReverse {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-180px);
  }
}
@-webkit-keyframes floatReverse {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-180px);
  }
}
@keyframes floatReverse {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-180px);
  }
}
@-moz-keyframes float2 {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(280px);
  }
}
@-webkit-keyframes float2 {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(280px);
  }
}
@keyframes float2 {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(280px);
  }
}
@-moz-keyframes floatReverse2 {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-280px);
  }
}
@-webkit-keyframes floatReverse2 {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-280px);
  }
}
@keyframes floatReverse2 {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-280px);
  }
}
.particle:nth-child(1) {
  height: 17px;
  width: 17px;
  left: 9%;
  top: 69%;
  background: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
  animation-delay: 0.2s;
  animation-duration: 21s;
  animation-name: floatReverse;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
}

.particle:nth-child(2) {
  height: 18px;
  width: 18px;
  left: 74%;
  top: 94%;
  background: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
  animation-delay: 0.5s;
  animation-duration: 30s;
  animation-name: floatReverse2;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
}

.particle:nth-child(3) {
  height: 13px;
  width: 13px;
  left: 63%;
  top: 44%;
  background: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
  animation-delay: 0.3s;
  animation-duration: 37s;
  animation-name: floatReverse2;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
}

.particle:nth-child(4) {
  height: 14px;
  width: 14px;
  left: 64%;
  top: 97%;
  background: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
  animation-delay: 0.9s;
  animation-duration: 26s;
  animation-name: floatReverse2;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
}

.particle:nth-child(5) {
  height: 15px;
  width: 15px;
  left: 98%;
  top: 2%;
  background: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
  animation-delay: 0.7s;
  animation-duration: 24s;
  animation-name: floatReverse2;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
}

.particle:nth-child(6) {
  height: 17px;
  width: 17px;
  left: 12%;
  top: 6%;
  background: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
  animation-delay: 1s;
  animation-duration: 37s;
  animation-name: floatReverse;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
}

.particle:nth-child(7) {
  height: 23px;
  width: 23px;
  left: 92%;
  top: 1%;
  background: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
  animation-delay: 0.6s;
  animation-duration: 39s;
  animation-name: floatReverse2;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
}

.particle:nth-child(8) {
  height: 25px;
  width: 25px;
  left: 67%;
  top: 53%;
  background: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
  animation-delay: 0.6s;
  animation-duration: 24s;
  animation-name: floatReverse;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
}

.particle:nth-child(9) {
  height: 19px;
  width: 19px;
  left: 20%;
  top: 94%;
  background: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
  animation-delay: 0.9s;
  animation-duration: 29s;
  animation-name: floatReverse;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
}

.particle:nth-child(10) {
  height: 16px;
  width: 16px;
  left: 29%;
  top: 88%;
  background: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
  animation-delay: 0.5s;
  animation-duration: 40s;
  animation-name: floatReverse;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
}

.particle:nth-child(11) {
  height: 24px;
  width: 24px;
  left: 89%;
  top: 46%;
  background: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
  animation-delay: 0.3s;
  animation-duration: 30s;
  animation-name: floatReverse2;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
}

.particle:nth-child(12) {
  height: 25px;
  width: 25px;
  left: 48%;
  top: 99%;
  background: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
  animation-delay: 0.7s;
  animation-duration: 21s;
  animation-name: float;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
}

.particle:nth-child(13) {
  height: 20px;
  width: 20px;
  left: 8%;
  top: 27%;
  background: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
  animation-delay: 0.1s;
  animation-duration: 40s;
  animation-name: float2;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
}

.particle:nth-child(14) {
  height: 21px;
  width: 21px;
  left: 5%;
  top: 18%;
  background: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
  animation-delay: 0.4s;
  animation-duration: 26s;
  animation-name: floatReverse;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
}

.particle:nth-child(15) {
  height: 24px;
  width: 24px;
  left: 43%;
  top: 77%;
  background: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
  animation-delay: 0.9s;
  animation-duration: 23s;
  animation-name: float2;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
}

.particle:nth-child(16) {
  height: 23px;
  width: 23px;
  left: 28%;
  top: 38%;
  background: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
  animation-delay: 0.7s;
  animation-duration: 25s;
  animation-name: floatReverse;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
}

.particle:nth-child(17) {
  height: 16px;
  width: 16px;
  left: 92%;
  top: 32%;
  background: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
  animation-delay: 1s;
  animation-duration: 29s;
  animation-name: float;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
}

.particle:nth-child(18) {
  height: 16px;
  width: 16px;
  left: 65%;
  top: 69%;
  background: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
  animation-delay: 0.5s;
  animation-duration: 25s;
  animation-name: float;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
}

.particle:nth-child(19) {
  height: 24px;
  width: 24px;
  left: 86%;
  top: 51%;
  background: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
  animation-delay: 0.8s;
  animation-duration: 32s;
  animation-name: floatReverse2;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
}

.particle:nth-child(20) {
  height: 17px;
  width: 17px;
  left: 50%;
  top: 5%;
  background: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
  animation-delay: 0.3s;
  animation-duration: 28s;
  animation-name: floatReverse2;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
}

.particle:nth-child(21) {
  height: 24px;
  width: 24px;
  left: 44%;
  top: 90%;
  background: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
  animation-delay: 0.4s;
  animation-duration: 27s;
  animation-name: float2;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
}

.particle:nth-child(22) {
  height: 21px;
  width: 21px;
  left: 49%;
  top: 86%;
  background: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
  animation-delay: 0.9s;
  animation-duration: 23s;
  animation-name: float2;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
}

.particle:nth-child(23) {
  height: 14px;
  width: 14px;
  left: 63%;
  top: 80%;
  background: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
  animation-delay: 0.2s;
  animation-duration: 32s;
  animation-name: floatReverse;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
}

.particle:nth-child(24) {
  height: 11px;
  width: 11px;
  left: 29%;
  top: 43%;
  background: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
  animation-delay: 0.5s;
  animation-duration: 37s;
  animation-name: float2;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
}

.particle:nth-child(25) {
  height: 19px;
  width: 19px;
  left: 64%;
  top: 29%;
  background: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
  animation-delay: 0.9s;
  animation-duration: 36s;
  animation-name: float2;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
}